.ContactForm {
  background-color: #4c4c50;
  width: 100vw;
  padding-bottom: 20px;
}

.contact-form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.contact-form-container h2 {
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}

.contact-form-container h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  margin-bottom: 15px;
}

.form-row .form-group {
  flex: 1;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.form-group input,
.form-group textarea {
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-group textarea {
  resize: vertical;
  min-height: 100px;
  width: 80%;
}

.submit-btn {
  width: fit-content;
  padding: 10px;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid transparent;
  margin-top: 20px;
}

.submit-btn:hover {
  border: 2px solid red;
}
