.posters {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: beige;

  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.poster-image {
  position: absolute;
  width: 80%;
  height: 100%;
  animation: alternateImages 6s infinite;
}

.second-image {
  animation-delay: 3s;
}

@keyframes alternateImages {
  0%,
  50% {
    opacity: 1;
  }
  50.01%,
  100% {
    opacity: 0;
  }
}
