.Projects {
  display: flex;
  flex-direction: row;
  height: 40vh;
  width: 100vw;
  background-color: burlywood;
  justify-content: center;
  align-items: center;
  margin: 20px 0 ;
  padding: 20px 0;
}

.Projects .details {
  width: 30vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.Projects .details h4 {
  width: fit-content;
  padding: 10px 15px;
  border: 1px solid orangered;
  background-color: orangered;
  color: #fff;
}

.projects-img {
  width: 50vw;
  /* height: 30vh; */
}
