.Projects {
  display: flex;
  flex-direction: row;
  height: 50vh;
  width: 100%;
  background-color: #4c4c50;
  justify-content: center;
  align-items: center;
}

.Projects .details {
  width: 50vw;
  display: flex;
  flex-direction: column;
  text-align: start;
  align-items: start;
  padding-left: 10vw;
}

.Projects .details h4 {
  padding: 10px 15px;
  border: 1px solid orangered;
  background-color: orangered;
  color: #fff;
}

.Projects .details h1 {
  width: 50%;
}

.projects-img {
  width: 50vw;
}

.projects-img img {
  width: 70%;
}
